/* cards */
.news { margin-top: 50px; }
.row {
    margin-bottom: 30px;
    column-gap: 10px;
}
.card {
    width: 50%;
    cursor: pointer;
}
.card-w { width: 100%; }
.card-img {
    width: 100%; height: 200px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    transition: .4s;
}
.card:hover .card-img { border-radius: 0; }
.card-body {
    margin-top: 6px;
    padding: 0 4px;
}
/* card title */
.card-body-title {
    font-size: 14pt;
    color: rgb(34, 34, 34);
}
.card-footer {
    margin-top: 4px;
    padding: 0 6px;
    color: var(--mauve);
    font-style: italic;
}
/* card label */
.card-footer-label { font-size: 10pt; }
/* card posting date */
.card-footer-date { font-size: 8.5pt; }