/* ===================== HEADER ===================== */
.header {
    padding: 20px 10vw;
    background: var(--blueGreen2);
}
.header a { color: var(--white); }
.header a:focus { outline: none; }

/* navigation bar */
.navbar-header li {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 13pt;
}
.navbar-header li.active a,
.navbar-header li:hover a,
.navbar-header a:focus {
    color: #e4e4e4;
    outline: none;
}

/* login button */
.navbar-header .btn {
    background: var(--white);
    margin-left: 40px;
    color: var(--blueGreen2);
}
.navbar-header .btn:hover,
.navbar-header .btn:focus {
    background: #e4e4e4;
    outline: none;
}