/* ===================== INDEX page ===================== */
main {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* labels */
.labels {
    width: 58%;
    margin: 0 auto;
    align-items: center;
}
/* labels options */
.labels-opts li {
    display: inline-block;
    margin-right: 3px;
}
.labels-opts button {
    background: var(--pink);
    color: var(--white);
    letter-spacing: 1px;
}
.labels-opts button:hover,
.labels-opts button:focus,
.labels-opts li.active button {
    background: #a55d67;
    outline: none;
}
/* dropdown button */
.dropdown { position: relative; }
.dropdown-btn {
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-size: 14pt;
    rotate: 90deg;
    border-radius: 50%;
    padding: 0 8px 9px 8px;
}
.dropdown-btn:hover { background: #a55d67; }

/* dropdown options */
.dropdown-cont {
    position: absolute;
    background: var(--white);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}
.dropdown-cont li {
    font-size: 13pt;
    color: rgb(73, 73, 73);
    display: block;
    padding: 8px 20px 8px 8px;
    cursor: pointer;
}
.dropdown-cont li:hover,
.dropdown-cont li:focus,
.dropdown-cont li.active {
    background: rgb(240, 240, 240);
    outline: none;
}
/* first and last options */
.drop-f {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.drop-l {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.labels button:hover { background: #a55d67; }