/* ===================== LOGIN SCREEN ===================== */
/* background */
.loginmodal::backdrop {
    background: rgba(0, 0, 0, .4);
    animation-name: backLoginAnim;
    animation-duration: .8s;
}
@keyframes backLoginAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* screen */
.loginmodal {
    border: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.507);
    margin: 75px auto;
    width: 18vw;
    border-radius: 8px;
    animation-name: loginAnim;
    animation-duration: .4s;
}
@keyframes loginAnim {
    from {
        opacity: 0;
        top: -300px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
/* login header */
.loginmodal-header {
    background: var(--blueGreen2);
    color: var(--white);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
/* login title */
.loginmodal-title {
    padding: 10px 0;
    text-align: center;
    font-size: 30pt;
}
/* close button */
.modal-close {
    float: right;
    background: rgb(252, 45, 45);
    font-size: 20pt;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 4px;
    margin: 4px 4px 0 0;
    cursor: pointer;
}
.modal-close:hover,
.modal-close:focus {
    background: rgb(241, 75, 75);
    outline: none;
}

/* login body */
.loginmodal-body { padding: 20px 40px; }

/* user data */
.userdata { margin-bottom: 15px; }
.userdata label {
    display: inline-block;
    font-weight: bold;
    font-size: 13.5pt;
    margin-bottom: 5px;
}
.userdata input {
    display: block;
    width: 100%;
    background: var(--white);
    font-size: 13pt;
    text-indent: 6px;
    padding: 4px 0;
    border: 1px solid var(--mauve);
    border-radius: 4px;
}
.userdata input:focus { outline: none; }

/* login screen - create account link */
.loginmodal-links { margin-top: 30px; }
.loginmodal-links a { color: rgb(29, 148, 228); }
.loginmodal-links a:hover,
.loginmodal-links a:focus {
    text-decoration: underline;
    outline: none;
}
/* login screen - sign in button */
.loginmodal-links .btn {
    color: var(--white);
    background: rgb(28, 170, 28);
}
.loginmodal-links .btn:hover,
.loginmodal-links .btn:focus {
    background: rgb(25, 150, 25);
    outline: none;
}