.mainnews {
    margin: 80px auto 0 auto;
    width: 75vw;
    align-items: flex-start;
}

.news-content { width: 70%; }

.news-header {
    margin-bottom: 20px;
    color: rgb(29, 29, 29);
}

/* headline */
.headline { margin-bottom: 18px; }
.headline-title {
    font-size: 18pt;
    margin-bottom: 10px;
}
.headline-subtitle {
    font-size: 14pt;
    font-weight: normal;
}

/* news info */
.newsinfo { font-size: 13pt; }
.newsinfo span { font-weight: bold; }
.newsinfo-name { margin-bottom: 2px; }
.newsinfo-time span { font-size: 11pt; }

/* news image */
.news-fig {
    color: var(--mauve);
    font-style: italic;
    margin-bottom: 20px;
}
.news-fig img {
    width: 80%; height: 450px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 8px;
    margin-bottom: 4px;
}

/* news text */
.news-text {
    line-height: 17.5pt;
    color: rgb(29, 29, 29);
    width: 90%;
}
.news-article { margin-top: 25px; }
.news-subtitle { margin-bottom: 8px; }
.news-text p { font-size: 13.3pt; }

/* aside news */
.asidenews { width: 30%; }
.asidenews-title {
    text-align: center;
    font-size: 20pt;
    color: rgb(29, 29, 29);
}

/* cards */
.asidenews-cards { margin-top: 40px; }
.card {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
}

/* =================== COMMENT SECTION =================== */
.comments { margin-top: 50px; }
/* title */
.comments-title {
    justify-content: flex-start;
    align-items: center;
    color: rgb(29, 29, 29);
    margin-left: 6px;
}
.comments-title .fa-comment {
    font-size: 20pt;
    margin-right: 8px;
} 
.comments-title-text { font-size: 20pt; }
/* comment text */
.comment-input {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    column-gap: 10px;
}
.userphoto {
    color: var(--white);
    background: var(--mauve);
}
.comment-area textarea {
    height: 80px; width: 400px;
    display: block;
    border: 1px solid var(--mauve);
    border-radius: 4px;
    padding: 4px;
    font-size: 12.5pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
    overflow: auto;
}
.comment-area textarea:focus { outline: none; }
.comment-area textarea::placeholder {
    font-style: italic;
    color: rgb(197, 197, 197);
}
/* button to send a comment */
.comment-area .btn {
    margin-top: 10px;
    background: var(--blueGreen2);
    color: var(--white);
}
.comment-area .btn:hover { background: #44806a; }

/* comments */
.comment-section { margin-top: 60px; }

.comment-user {
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    margin-bottom: 40px;
    width: 700px;
}

.comment-userinfo p {
    margin-top: 10px;
    font-size: 12.5pt;
}
/* "answer" button */
.comment-user .btn {
    display: block;
    margin: 20px 0 0 0;
    font-size: 10.5pt;
    border-radius: 50px;
    background: var(--blueGreen2);
    color: var(--white);
}
.comment-user .btn:hover,
.comment-user .btn:focus {
    background: #44806a;
    outline: none;
}
/* user informations */
.userinfo {
    column-gap: 10px;
    justify-content: flex-start;
}
.userinfo-name {
    font-weight: bold;
    font-size: 12pt;
}
.userinfo-time {
    font-size: 9pt;
    color: var(--mauve);
    font-style: italic;
}