.mainnews {
    margin: 80px auto 0 auto;
    width: 75vw;
    align-items: flex-start;
}

.news-content { width: 70%; }

/* news image */
.news-fig {
    color: var(--mauve);
    font-style: italic;
    margin-bottom: 20px;
}
.news-fig img {
    width: 80%; height: 450px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 8px;
    margin-bottom: 4px;
}

/* news text */
.news-text {
    line-height: 17.5pt;
    color: rgb(29, 29, 29);
    width: 90%;
}
.news-article { margin-top: 25px; }
.news-subtitle { margin-bottom: 8px; }
.news-text p { font-size: 13.3pt; }

/* aside news */
.asidenews { width: 30%; }
.asidenews-title {
    text-align: center;
    font-size: 20pt;
    color: rgb(29, 29, 29);
}

/* cards */
.asidenews-cards { margin-top: 40px; }
.card {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
}