.header {
    position: relative;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .4);
    z-index: 1;
}

.mainregister {
    height: 100%;
    align-items: flex-start;
}

/* =================== LEFT SIDE =================== */
.painel-img {
    position: relative;
    height: 100%; width: 60%;
    background: #7a9b77;
}

.register-set {
    text-align: center;
    width: 40vw;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .4);
}
.register-set a {
    display: block;
    font-size: 13pt;
    color: rgb(49, 190, 255);
}
.register-set a:hover { text-decoration: underline; }

/* image on left */
.register-img {
    width: 700px;
    display: block;
    margin: 0 auto;
}

/* =================== RIGHT SIDE =================== */
.painel-forms {
    position: relative;
    height: 100%; width: 40%;
    background: var(--mauve);
}

.datascreen-links { margin-top: 20px; }

/* ---------------- screens ---------------- */
.datascreen {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 8px 2px rgba(0, 0, 0, .35);
}

/* user photo */
.registerphoto { text-align: center; }
.registerphoto .fa-camera {
    border-radius: 50px;
    font-size: 40pt;
    cursor: pointer;
    display: inline-block;
    border: 3px dashed var(--mauve);
    background: rgb(247, 243, 236);
    color: var(--mauve);
    padding: 20px 20.5px;
}
.registerphoto-text {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14pt;
}

/* passwords */
.passwords { column-gap: 12px; }
.passwords input::placeholder { font-size: 11pt; }

/* open login screen */
.datascreen-links .link {
    color: rgb(15, 164, 233);
    cursor: pointer;
    text-underline-offset: 1.5px;
}
.datascreen-links .link:hover { text-decoration: underline; }

/* sign up and sign in buttons */
.datascreen-links .btn {
    background: rgb(28, 170, 28);
    color: whitesmoke;
}
.datascreen-links .btn:hover { background: rgb(25, 150, 25); }