:root {
    --white: #FFFFFC;
    --blueGreen1: #849483;
    --blueGreen2: #4E937A;
    --pink: #B4656F;
    --mauve: #948392;
}

* { padding: 0; margin: 0; }

body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* flexible display */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* all links */
a { text-decoration: none; }

/* all buttons */
.btn {
    font-weight: bold;
    font-size: 13pt;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s ease-out;
}

/* ===================== HEADER ===================== */
.header {
    padding: 20px 10vw;
    background: var(--blueGreen2);
}
.header a { color: var(--white); }
.header a:focus { outline: none; }

/* navigation bar */
.navbar-header li {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 13pt;
}
.navbar-header li.active a,
.navbar-header li:hover a,
.navbar-header a:focus {
    color: #e4e4e4;
    outline: none;
}

/* ===================== INDEX page ===================== */
main {
    /* border: 1px solid red; */
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* labels */
.labels {
    /* border: 1px solid blue; */
    width: 58%;
    margin: 0 auto;
    align-items: center;
}
/* labels options */
.labels-opts li { display: inline-block; }
.labels-opts button {
    background: var(--pink);
    color: var(--white);
    letter-spacing: 1px;
}
.labels-opts button:hover,
.labels-opts button:focus,
.labels-opts li.active button {
    background: #a55d67;
    outline: none;
}
/* dropdown button */
.dropdown {
    position: relative;
}
.dropdown-btn {
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-size: 14pt;
    rotate: 90deg;
    border-radius: 50%;
    padding: 0 8px 9px 8px;
}
.dropdown-btn:hover { background: #a55d67; }

/* dropdown options */
.dropdown-cont {
    position: absolute;
    background: var(--white);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}
.dropdown-cont li {
    font-size: 13pt;
    color: rgb(73, 73, 73);
    display: block;
    padding: 8px 20px 8px 8px;
    cursor: pointer;
}
.dropdown-cont li:hover,
.dropdown-cont li:focus,
.dropdown-cont li.active {
    background: rgb(240, 240, 240);
    outline: none;
}
/* first and last options */
.drop-f {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.drop-l {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}