:root {
    --white: #FFFFFC;
    --blueGreen1: #849483;
    --blueGreen2: #4E937A;
    --pink: #B4656F;
    --mauve: #948392;
}

* { padding: 0; margin: 0; }

body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* flexible display */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* all links */
a { text-decoration: none; }

/* all buttons */
.btn {
    font-weight: bold;
    font-size: 13pt;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s ease-out;
}

/* ===================== HEADER ===================== */
.header {
    padding: 20px 10vw;
    background: var(--blueGreen2);
}
.header a { color: var(--white); }
.header a:focus {outline: none;}

/* navigation bar */
.navbar-header li {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 13pt;
}
.navbar-header li.active a,
.navbar-header li:hover a,
.navbar-header a:focus {
    color: #e4e4e4;
    outline: none;
}

/* ===================== INDEX page ===================== */
main {
    width: 75vw;
    margin: 80px auto 0 auto;
}

/* labels */
.labels {
    justify-content: center;
    column-gap: 10px;
}
.labels li { display: inline-block; }
.labels button {
    background: var(--pink);
    color: var(--white);
    letter-spacing: 1px;
}
.labels button:hover { background: #a55d67; }

/* cards */
.news { margin-top: 50px; }
.row {
    margin-bottom: 30px;
    column-gap: 10px;
}
.card {
    width: 50%; height: 200px;
    background: var(--blueGreen1);
    border-radius: 8px;
}
.card-w { width: 100%; }