:root {
    --black1: rgb(41, 41, 41);
    --black2: rgb(61, 61, 61);
    --white1: rgb(216, 216, 216);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-size: 12pt;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}

/* ============= HEADER ============= */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: var(--black1);
    padding: 25px 100px;
}

/* logo */
header .logo a {
    color: whitesmoke;
    font-size: 20pt;
}

/* header navigation bar */
header .navbar-header li {
    display: inline-block;
    margin-left: 15px;
}

header .navbar-header a {
    color: whitesmoke;
    font-weight: bold;
}
header .navbar-header a:hover,
header .navbar-header li.active > a {
    color: var(--white1);
}

/* ============= MAIN CONTENT ============= */
main {
    width: 75vw;
    margin: 60px auto 0 auto;
}

/* categories */
.categories {
    text-align: center;
}

.categories li {
    display: inline-block;
    margin: 0 4px;
}

.categories button {
    font-size: 12pt;
    padding: 6px 10px;
    background: var(--black1);
    color: whitesmoke;
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: bold;
    cursor: pointer;
}
.categories button:hover,
.categories li.active > button {
    background: var(--black2);
}

/* news */
.news {
    margin-top: 65px;
}
/* news rows */
.news .row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 10px;
    margin-bottom: 40px;
}
/* news cards */
.news .card {
    width: 50%;
    height: 150px;
    background: darkred;
}
.news .card-w {
    width: 100%;
}