:root {
    --black1: rgb(41, 41, 41);
    --black2: rgb(61, 61, 61);
    --white1: rgb(216, 216, 216);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-size: 12pt;
    font-family: arial, sans-serif;
}

/* all links */
a {
    text-decoration: none;
}

header, .categories {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* ============= HEADER ============= */
header {
    background: var(--black1);
    padding: 25px 100px;
}

/* logo */
header .logo a {
    color: whitesmoke;
    font-size: 20pt;
}

/* header navigation bar */
header .navbar-header li {
    display: inline-block;
    margin-left: 15px;
}

header .navbar-header a {
    color: whitesmoke;
    font-weight: bold;
}
header .navbar-header a:hover,
header .navbar-header li.active > a {
    color: var(--white1);
}

/* ============= MAIN CONTENT ============= */
main {
    width: 75vw;
    margin: 60px auto 0 auto;
}

/* categories */
.categories {
    align-items: flex-end;
    width: 55vw;
    margin: 0 auto;
}

.categories-items li {
    display: inline-block;
    margin: 0 4px;
}

.categories-items button {
    font-size: 12pt;
    padding: 6px 10px;
    background: var(--black1);
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease-in;
}
.categories-items button:hover,
.categories-items li.active > button {
    background: var(--black2);
}

/* categories dropdown button */
.dropdown .dropdown-btn {
    rotate: 90deg;
    border: none;
    background: var(--black1);
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14pt;
    padding: 0 8px 9px 8px;
    transition: background .3s ease-in;
}
.dropdown .dropdown-btn:hover {
    background: var(--black2);
}

/* categories dropdown content */
.dropdown .dropdown-content {
    display: none;
}