:root {
    --white: #FFFFFC;
    --blueGreen1: #849483;
    --blueGreen2: #4E937A;
    --pink: #B4656F;
    --mauve: #948392;
}

* { padding: 0; margin: 0; }

body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* flexible display */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* all links */
a { text-decoration: none; }

/* all buttons */
.btn {
    font-weight: bold;
    font-size: 13pt;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s ease-out;
}

/* in the middle */
.middle {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* forms */
.userdata { margin-bottom: 15px; }
.userdata label {
    display: inline-block;
    font-weight: bold;
    font-size: 12.5pt;
    margin-bottom: 5px;
}
.userdata input {
    display: block;
    width: 100%;
    background: var(--white);
    font-size: 12pt;
    text-indent: 6px;
    padding: 6px 0;
    border: 1px solid var(--mauve);
    border-radius: 4px;
}
.userdata input:focus { outline: none; }
.userdata input::placeholder {
    color: rgb(184, 184, 184);
    font-style: italic;
}

/* user photo */
.userphoto {
    font-size: 18pt;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}