:root {
    --white: #FFFFFC;
    --blueGreen1: #849483;
    --blueGreen2: #4E937A;
    --pink: #B4656F;
    --mauve: #948392;
}

* { padding: 0; margin: 0; }

body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* flexible display */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* all links */
a { text-decoration: none; }

/* ===================== HEADER ===================== */
.header {
    padding: 20px 10vw;
    background: var(--blueGreen2);
}
.header a { color: var(--white); }
.header a:focus {outline: none;}

/* navigation bar */
.navbar-header li {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 13pt;
}
.navbar-header li.active a,
.navbar-header li:hover a,
.navbar-header a:focus {
    color: #e4e4e4;
    outline: none;
}