:root {
    --white: #FFFFFC;
    --blueGreen1: #849483;
    --blueGreen2: #4E937A;
    --pink: #B4656F;
    --mauve: #948392;
}

* { padding: 0; margin: 0; }

body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

/* flexible display */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* all links */
a { text-decoration: none; }

/* all buttons */
.btn {
    font-weight: bold;
    font-size: 13pt;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s ease-out;
}